.clock-list {
    list-style: none;
    display: flex;
    &__item {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s all;
        text-align: center;        
        &:hover:not(.clock-list__item--active) {
            background-color: rgba(black,0.1);
        }
        &--active {
            background-color: rgba(black,0.5);
            font-weight: bold;
        }
    }

}