@import '../../shared/utils/css/main.scss';

.pomodoro {
    background: $pomodoro-color;
    margin: 0 auto;
    color: white;
    min-height: 100vh;
    &--short {
        background: $short-color;
    }
    &--long {
        background: $long-color;
    }
    .box {
        margin: 0 auto;        
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}