@import '../../../../../../shared/utils/css/main.scss';

$height-bottom-border: 6px;

@mixin button-active {
    box-shadow: none;
    transform: translateY($height-bottom-border);
}

.button {
    font-weight: bold;
    font-size: 22px;
    width: 200px;
    padding: 10px;
    background-color: white;
    outline-color: white;
    color: $pomodoro-color;
    border: 0;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    cursor: pointer;
    transition: 0.2s;

    &:active {
        @include button-active;
    }

    &--active {
        @include button-active;
    }
}